body, #react {
 width:100%; height: 100%;
}

a {
  cursor: pointer;
  cursor: hand;
}

ul {
  list-style-type: none;
}

$break-small: 420px;

$sans-serif:  Helvetica Neue, Arial, sans-serif;

$global-transition-duration: .3s;
