

.statusBar {
  border-top: 1px solid lightgrey;
  > div {
    display: block;
    overflow: hidden;
    vertical-align: bottom;
    padding: 0.5em 1em;
    &:nth-child(1) {
      float: left;
      border-right: 1px solid lightgrey;
    }
    &:nth-child(2){
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
