doctype html
html(lang='pt-pt')
  head
    title Mars Weather
    
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src='https://fb.me/react-with-addons-0.14.0.js')
    script(src='https://fb.me/react-dom-0.14.0.js')
  
  body
    #app!= content
    
  script(src='main.js', defer)
    
