body, #react {
  width: 100%;
  height: 100%; }

a {
  display: block; }

ul {
  list-style-type: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font: 16px/1 Helvetica Neue, Arial, sans-serif; }

iframe {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit; }

strong {
  font-weight: bold; }

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline; }

a,
button {
  color: inherit;
  transition: 0.3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit; }
  button:focus {
    outline: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

#react {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: gray; }

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 250px;
  background-color: white; }

@media (min-width: 500px) {
  #app {
    max-width: 450px;
    height: 80%; } }

.header {
  flex: 0 1 auto;
  box-sizing: border-box; }

.main {
  flex: 1 1 auto;
  box-sizing: border-box;
  position: relative; }

.footer {
  flex: 0 0 auto;
  box-sizing: border-box; }

.menu {
  display: block;
  background-color: yellow;
  padding: 0.9em 1em;
  box-sizing: border-box;
  line-height: 1.6em;
  overflow: hidden; }

.menu-section {
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

.menu-section.left {
  float: left; }

.menu-section.right {
  float: right; }

@media (max-width: 400px) {
  .collapse {
    max-height: 100px; }
  .menu:not(.open) .collapse {
    max-height: 0px; }
  .menu-section {
    display: block;
    margin: auto;
    text-align: center;
    float: none !important; } }

.brand {
  display: inline-block;
  padding: 0.5em 1em; }

.menu-list {
  display: inline-block;
  margin: 0px;
  padding: 0px; }

.menu-item {
  display: inline-block;
  padding: 0.5em 1em; }
  .menu-item.active {
    background-color: gray;
    color: white; }

.statusBar {
  border-top: 1px solid lightgrey; }
  .statusBar > div {
    display: inline-block;
    padding: 0.5em 1em; }
    .statusBar > div:nth-child(1) {
      position: relative;
      width: 100px;
      border-left: 1px solid lightgrey; }

.report_view {
  display: flex;
  flex-direction: column;
  height: 100%; }

.report_nav {
  flex: 0 0 auto;
  padding: 0.9em 1em;
  background-color: #ebebeb; }

.report {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 10px 0px;
  padding: 0px 10px;
  line-height: 1.4em; }

.report li span:nth-child(1) {
  display: inline-block;
  text-transform: capitalize;
  width: 200px; }

.fillflex {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .custom-toggle {
    display: none; } }

/*# sourceMappingURL=styles.css.map*/